body {
  background-image: url("https://images.pexels.com/photos/1650830/pexels-photo-1650830.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.App {
  max-width: 700px;
  margin: 30px auto;
}
.container {
  background-image: url("https://images.pexels.com/photos/3775331/pexels-photo-3775331.jpeg?auto=compress&cs=tinysrgb&lazy=load");
}

.App footer {
  font-size: 12px;
  margin: 10px 0;
  color: #000000;
  text-align: center;
}
