.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(32, 12, 117);
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  color: #110606;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
  width: 64px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(46, 13, 109);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(2, 14, 3);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
